*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.81rem;
  background-color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --white: #fff;
  --primaryText: #6a7178;
  --secondaryText: #4d4f62;
  --accentRed: #ea5454;
  --accentCyan: #44d3d2;
  --accentBlue: #549ef2;
  --accentOrange: #fcae4a;
}

.container {
  width: clamp(19rem, 100%, 28rem);
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block-start: 3.5rem;
  margin-block-end: 3rem;

  @media (min-width: 47.9rem) {
    width: 41.25rem;
    padding: 0;
    margin-block-start: 5rem;
  }
  @media (min-width: 90rem) {
    width: 69.62rem;
    padding: 0;
    margin-block-start: 6.32rem;
  }
}

.feature__title {
  color: var(--secondaryText);
  font-size: 1.5rem;
  font-weight: 275;
  line-height: 1.4;
  letter-spacing: 0.25px;
  text-align: center;
  margin-bottom: 1rem;
  @media (min-width: 48rem) {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
}

.feature__title span {
  font-weight: 400;
}

.feature__text {
  color: var(--secondaryText);
  font-size: 0.94rem;
  line-height: 1.4;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 3.62rem;
  @media (min-width: 48rem) {
    margin-bottom: 4.5rem;
  }
  @media (min-width: 90rem) {
    max-width: 33.75rem;
  }
}

.feature__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    outline: 1px solid blue;
  }
  @media (min-width: 90rem) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.feature__item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  height: 15.62rem;
}

.feature__item--cyan {
  border-top: 4px solid var(--accentCyan);
  @media (min-width: 48rem) {
    grid-row: 2;
    grid-column: 1 / 3;
  }
  @media (min-width: 90rem) {
    grid-row: 2 / 4;
    grid-column: 1;
  }
}
.feature__item--red {
  border-top: 4px solid var(--accentRed);
  @media (min-width: 48rem) {
    grid-row: 1;
    grid-column: 2 / 4;
  }
  @media (min-width: 90rem) {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}
.feature__item--orange {
  border-top: 4px solid var(--accentOrange);
  @media (min-width: 48rem) {
    grid-row: 2;
    grid-column: 3 / 5;
  }
  @media (min-width: 90rem) {
    grid-row: 3 / 5;
    grid-column: 2;
  }
}
.feature__item--blue {
  border-top: 4px solid var(--accentBlue);
  @media (min-width: 48rem) {
    grid-row: 3;
    grid-column: 2 / 4;
  }
  @media (min-width: 90rem) {
    grid-row: 2 / 4;
    grid-column: 3;
  }
}

.item__title {
  color: var(--secondaryText);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 6px;
}

.item__text {
  color: var(--primaryText);
  line-height: 1.6;
  letter-spacing: 0.09px;
  margin-bottom: 32px;
}
.item__icon {
  margin-left: auto;
}
